.ds{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
}
.ds p{
    text-indent: 20px;
}
.ddl{
    height: 80px;

    margin-top: 100px;
}
.ddl .dzi p{
    font-size: 30px;
    font-weight: 900;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}
.ddl .dzi .dyi{
    font-size: 14px;
    font-weight: 500;
    color: green;
    float: right;
    line-height: 50px;
}

.dipt{
    height: 160px;
}
.dipt div{
    height: 40px;
    border: 1px solid  #ebebeb;
    width: 80%;
    margin: 0 auto;
}
.dipt div:nth-of-type(1){
    margin-bottom: 36px;
}
.dipt div input{
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    background-color: aliceblue;
    text-indent: 10px;
}
.dipt p{
    text-align: right;
    margin-right: 40px;
    margin-top: 20px;
    color: green;
    font-size: 14px;
}

.dbtn{
    width: 80%;
    height: 40px;
    font-size: 16px;
    color: #8d8d8d;
    background-color: #ededed;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
}