.yd2{
    width: 100%;
    height: 100%;
    position: relative;
}
.yd2 img{
    width: 100%;
    height: 100%;
}
.yd2 p{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #bbbbbb;
    border-radius: 50%;
    left: 55%;
    bottom: 58px;
}